
<div id="playlist-1" data-page="playlist" class="page playlist playlist-1 special-scroll page-on-center" >
  <div class="album-cover-blur">
      <img  class="album-cover" src="{{browse.browse_art.url}}" class="album cover" alt="playlist cover" width="100%" height="100%" onload=" $(function(){ setTimeout(function(){ $('#start-browse').click();});}, 5000); console.log('Click just happened');">
  </div>
    <section class="headers" header-type="back" header-style="style3" header-icon-style="user">
        <header>
            <div class="main-grids safe-area">
                <div class="inner">
                    <a href="#" class="link back">
                        <button class="back-icon animated" data-fx="fadeInLeft">
                        </button>
                    </a>
                    <div class="title-author">
                        <h2 class="title"> </h2>
                    </div>
                </div>
            </div>
        </header>
    </section>

<div class="scrollable-content " style="opacity: 1;">
    <div class="bottom-padding special-scroll-tab active">
      <section class="big-player-queue-container">
          <div class="container-album-cover big-player animated" data-fx="fadeInDown">
              <div class="main-grids grid-cover">
                  <div class="album-cover">
                      <!--<img src="{{browse.browse_art.url}}" class="album cover" alt="cover" width="80%" height="80%">-->
            </div>

              </div>
          </div>

          <div class="title-author animated" data-fx="fadeInUp">
               <div class="swiper-padding swiper-wrapper square-swiper" align="center">
                   <div class="swiper-slide img-play" >
                       <img class="album cover"src="{{browse.browse_art.url}}"  alt="cover" width="600px" height="auto">
                   </div>
               </div>

              <h2 class="title"></h2>
            <!--Browse ART HERE-->
        </div>
      </section>
<!--style 1-->
      <section class="section-titles" section-type="playlists-large" section-title="hide" author="hide" follow="show" total-min="show" like-container="show" year="hide" song-number="show" play="hide">
        <header>
          <div class="main-grids safe-area">
            <div class="inner">
              <!--<button class="following">Follow</button>-->
              <div class="title-author">
                <h2 class="title">Title Here</h2>
              </div>
              <button class="play"></button>
              <button id="start-browse" class="shuffle"></button>
              <div class="like-container">
                <span checkclick="checkClick" class="heart-icon">
                  <svg width="21px" height="18px" viewBox="0 0 17 15">
                    <g transform="translate(-7.000000, -9.000000)" fill="#8A7F87">
                      <path d="M15.4200001,12.3674936 C16.2709429,10.2381896 17.615006,9 19.1037501,9 C21.7197286,9 23.8400002,11.3731073 23.8400002,14.3006408 C23.8400002,20.3635207 15.4200001,23.8417942 15.4200001,23.8417942 C15.4200001,23.8417942 7,20.3635207 7,14.3006408 C7,11.3731073 9.12027159,9 11.73625,9 C13.2249941,9 14.5685344,10.1493509 15.4200001,12.3674936 Z"></path>
                    </g>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </header>
      </section>
<!--end style 1-->
         <!--<section class="section-titles" section-type="playlists" playlists-style="style2" options="show">-->
        <!--<header>-->
          <!--<div class="main-grids safe-area">-->
            <!--<div class="inner">-->
              <!--<button id="start-browse" class="play-all play">Play All</button>-->
              <!--<button class="options"></button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</header>-->
      <!--</section>-->


        <!--browse track list-->
              <section class="list-songs playlist-song checkPlaylist" avatar="show" author="show" song-time="show" song-price="hide" like-number="hide" add-to="hide" delete-track="hide" ranking="hide" like-heart-style="style2" like-number-style="style1">
        <div class="main-grids safe-area">
          <div class="inner">
            <!--Create Variable to hold  Position values an song index in playlist -->

             {% for track in browse_tracks %}
              <div class="the-song {{position}} slide slide-{{slide_number}} " avatar="{{track.artist.artist_img.url}}" album-cover="{{track.artist.artist_img.url}}" hidden>

                  <a href="#" data-src="{{track.song.url}}"></a>
                  <input type="hidden" id="my-track" value="{{track.song.url}}">
                <div class="author-like-wrapper">

                    <p class="rank">1</p>
                    <div class="author-avatar">
                        <img alt="Author" src=" {{track.artist.artist_img.url}}" width="100%" height="auto">
                    </div>
                    <div class="author-like">
                        <div class="song-title-author">
                            <h2>{{ track.title}}</h2>
                            <cite avatar="{{playlist.playlist_art.url}}" album-cover="{{playlist.playlist_art.url}}">
                                <a href="{% url 'artist_profile' track.artist.id %}" checkclick="checkClick">{{ track.artist}}</a>
                            </cite>
                        </div>
                        <div class="song-info-options-container">
                             <!--<button id="click" onclick="getTrackDuration()" type="button">Get track length</button><br>-->
                            <!--<audio id="audiotrack" width="320" height="176" controls>-->
                                <!--<source src="{{track.song.url}}" type="audio/mpeg">-->
                            <!--</audio>-->
                            <div class="like-container">
                                <span class="heart-icon active">
                                    <svg checkclick="checkClick" width="16px" height="15px" viewBox="0 0 16 15">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(1.000000, 1.000000)">
                                                <g transform="translate(-2.000000, -3.000000)"><rect x="0" y="0" width="18" height="18"></rect><path checkclick="checkClick" d="M9,5.70689931 C9.71495864,3.78248227 10.8248268,3 12.0625,3 C14.2373039,3 16,4.97331321 16,7.40764925 C16,12.4491242 9,15.3414179 9,15.3414179 C9,15.3414179 2,12.4491242 2,7.40764925 C2,4.97331321 3.76269608,3 5.9375,3 C7.1751732,3 8.38818359,3.78248227 9,5.70689931 Z" id="shapes" stroke="#FFFFFF" stroke-width="1.7"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <span checkclick="checkClick" class="like">1.505</span>
                            </div>
                            <span id="track-length" checkclick="checkClick" class="song-time"></span>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>

              {% endfor %}
          </div>
        </div>
      </section>
        <!--end browse track list-->
        <!--list of playlist-->

        <!--<section class="playlists-swiper-container checkPlaylist">-->
            <!--<div class="swiper-container swiper-padding-left square-swiper playlist-swiper best-playlists-swiper-container no-fastclick">-->
                <!--<div class="swiper-wrapper">-->
                      <!--{% for playlist, tracks in playlist_tracks.items %}-->
                    <!--<div class="swiper-slide the-playlist" album-cover="{{playlist.playlist_art.url}}">-->
                        <!--<div class="slide slide">-->
                            <!--<a href="{% url 'playlist' playlist.id %}">-->
                                <!--<div class="img-play">-->
                                    <!--<img src="{{playlist.playlist_art.url}}" width="100%" height="100px">-->
                                    <!--<div class="blur"></div>-->
                                    <!--<div class="playlist-song-number">410 Songs</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<h2>{{playlist.title}}</h2>-->
                        <!--<cite class="author" avatar="{{playlist.playlist_art.url}}" album-cover="{{playlist.playlist_art.url}}">-->
                            <!--<a href="artist-profile.html">Musicapp</a>-->
                        <!--</cite>-->
                        <!--<p class="playlist-followers">220.885</p>-->
                    <!--</div>-->
                    <!--end list-->
                    <!--{% endfor %}-->
                    <!--<div class="swiper-slide"></div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    </div>
  </div>
</div>

