{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}Sign up{% endblock %}
{% block content %}

<div class="cont">
        <div class="demo">
                <div class="login">
                  <div class="login__check"></div>
                  <div class="login__form">
                        {% load widget_tweaks %}
                          <form method="post" action="."id="create_form">
                                {% csrf_token %}  
                    <div class="login__row">
                      <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                      </svg>
                      {{ form.username|append_attr:"placeholder: Username "|add_class:"login__input name"}}
                     <span class="help_text">{{ form.username.help_text }}</span> 
                      
                    </div>
                    <div class="login__row">
                            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                            </svg>
                            {{ form.email|append_attr:"placeholder: E-mail "|add_class:"login__input name"}}
                           
                          </div>
                    <div class="login__row">
                      <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                      </svg>
                      {{ form.password1|append_attr:"placeholder: Password "|add_class:"login__input pass" }}
                      <span class="help_text">{{ form.password1.help_text }}</span>
                    </div>
                    <div class="login__row">
                        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                          <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                        </svg>
                        {{ form.password2|append_attr:"placeholder:Confirm Password "|add_class:"login__input pass" }}
                        <span class="help_text">{{ form.password2.help_text }}</span>
                      </div>
                      <div class='login__row'>
                            <input id='agree' name='agree' type='checkbox'>
                            <label for='agree'></label>Accept rules and conditions
                            <br>
                        </div>
                        <button type="submit" class="login__submit">Sign up</button>
                        <!-- <input class="login__submit" type="submit" value="{% trans 'Sign up' %}" /> -->
                      
                      </form>
                      
                    <p class="login__signup">{% trans "Already have an account" %}? &nbsp;<a href="{% url 'auth_login' %}">Sign in</a></p>
                  </div>
                </div>
            </div>
            </div>

{% endblock %}
